{
  "openapi": "3.1.0",
  "info": {
    "title": "Booking API",
    "termsOfService": "https://developer.champ.aero/terms",
    "contact": {
      "name": "CHAMP Cargosystems",
      "email": "api.gateway@champ.aero"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api-gateway.champ.aero/booking/v2"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "ApiKeyAuth": [],
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "booking-controller",
      "description": "Create, update, search, retrieve and cancel booking in Cargospot."
    }
  ],
  "paths": {
    "/bookings/charge-estimation-requests": {
      "post": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Booking Charge estimation",
        "description": "This service is to retrieve the detailed charge estimation for a potential booking.\"",
        "operationId": "bookingChargeEstimation",
        "requestBody": {
          "description": "Booking details",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://xapihub.io/models/LIFE/SHIFU-Catalog/OCP-model/v1/#/components/SCHEMAS/ErrorResponse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargeEstimate"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (Invalid syntax)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Authentication not done)",
            "content": {}
          },
          "403": {
            "description": "Forbidden (No access rights to the content)",
            "content": {}
          },
          "422": {
            "description": "Un-processable Entity (Semantic error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bookings": {
      "post": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Create new booking.",
        "description": "Allows you to create a new booking in Cargospot.",
        "operationId": "createBooking",
        "requestBody": {
          "description": "Booking details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "location": {
                "description": "URL of the created booking resource. A unique Cargospot internal ID for this booking (E.g. 6567989) will be appended (at the end) to the path URL. This path URL (including ID) can be used to retrieve the full booking information.",
                "schema": {
                  "type": "string",
                  "example": "https://api-gateway.champ.aero/booking/v1/bookings/6567989"
                }
              }
            },
            "content": {}
          },
          "400": {
            "description": "Bad Request (Invalid syntax)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Authentication not done)",
            "content": {}
          },
          "403": {
            "description": "Forbidden (No access rights to the content)",
            "content": {}
          },
          "422": {
            "description": "Un-processable Entity (Semantic error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Retrieve list of bookings.",
        "description": "Allows you to retrieve bookings using search parameters.",
        "operationId": "retrieveBookingList",
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept"
          },
          {
            "name": "businessId",
            "in": "query",
            "description": "Unique Cargospot internal ID for the booking.",
            "required": false,
            "schema": {
              "type": "string",
              "example": 875452
            }
          },
          {
            "name": "accountNumbers",
            "in": "query",
            "description": "Account Number for the participant (Agent). This account number should exist in Cargospot.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": 14000110001
              }
            }
          },
          {
            "name": "marketDomain",
            "in": "query",
            "description": "Retrieve bookings based on its market domain. Possible values are International, Domestic, or Both.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": "International"
              }
            }
          },
          {
            "name": "airwaybillPrefixes",
            "in": "query",
            "description": "Coded representation of an airline or type of cargo. For representing an airline use the three-character alphanumeric airline code.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "example": 950
              }
            }
          },
          {
            "name": "airwaybillSerial",
            "in": "query",
            "description": "A serial number allocated by an airline to identify a particular air cargo shipment and the associated air waybill.",
            "required": false,
            "schema": {
              "type": "string",
              "example": 10203045
            }
          },
          {
            "name": "origin",
            "in": "query",
            "description": "Booking origin airport code.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "SIN"
            }
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Booking destination airport code.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "LHR"
            }
          },
          {
            "name": "carrierCode",
            "in": "query",
            "description": "Carrier code. Only bookings that have a flight/truck with this carrier code will be returned.'",
            "required": false,
            "schema": {
              "type": "string",
              "example": "XS"
            }
          },
          {
            "name": "transportNumber",
            "in": "query",
            "description": "Number to identify the transport-means (flight/truck number). Format-nnn(n)(a). Only bookings that have a flight/truck with this transport number will be returned.",
            "required": false,
            "schema": {
              "type": "string",
              "example": 515
            }
          },
          {
            "name": "departureFrom",
            "in": "query",
            "description": "Retrieve bookings with flights departing on and after the specified local date/time in ISO8601 with offset format. Example - . Only the first onload airport and scheduled time of departure will be considered. departureFrom must be less than or equal to departureUntil.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-01-01T00:00:00.000Z"
            }
          },
          {
            "name": "departureUntil",
            "in": "query",
            "description": "Retrieve bookings with flights arriving on and before the specified local date/time in ISO8601 with offset format. Example - . Only the last offload airport and scheduled time of arrival will be considered. departureUntil must be greater than or equal to departureFrom.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2022-01-31T00:00:00.000Z"
            }
          },
          {
            "name": "flightDate",
            "in": "query",
            "description": "Retrieve bookings with flight reference date same as the specified date.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-09-06"
            }
          },
          {
            "name": "bookingType",
            "in": "query",
            "description": "Allotment booking or normal booking.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ALLOTMENT"
            }
          },
          {
            "name": "allotmentHolder",
            "in": "query",
            "description": "Agent short name of the allotment holder.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "CFSIN"
            }
          },
          {
            "name": "bookingStatus",
            "in": "query",
            "description": "Retrieve any bookings or confirmed bookings or unconfirmed bookings.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "CONFIRMED"
            }
          },
          {
            "name": "consolidation",
            "in": "query",
            "description": "Retrieve any bookings or air waybill that is a consolidation i.e. has house air waybills associated to this air waybill.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "dataCapture",
            "in": "query",
            "description": "Retrieve any bookings or only bookings for which data capture is completed or booking for which data capture is pending.",
            "required": false,
            "schema": {
              "type": "string",
              "example": false
            }
          },
          {
            "name": "actionStatuses",
            "in": "query",
            "description": "Retrieve the  shipments where the first  segment of the shipments have this status.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "BKD",
                  "DEP",
                  "DLV",
                  "OFD",
                  "ARR",
                  "AWD",
                  "NFD",
                  "FBL",
                  "HLD",
                  "NNN",
                  "PCS",
                  "RCF",
                  "XXX"
                ],
                "example": "BKD"
              }
            }
          },
          {
            "name": "notDeparted",
            "in": "query",
            "description": "Retrieve all bookings or bookings that are not departed.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResourcesBookings"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (Invalid syntax)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Authentication not done)",
            "content": {}
          },
          "403": {
            "description": "Forbidden"
          },
          "406": {
            "description": "Not Acceptable"
          },
          "422": {
            "description": "Un processable Entity (Semantic error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/{id}": {
      "put": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Update existing booking.",
        "description": "Allows you to update an existing booking in Cargospot.",
        "operationId": "updateBooking",
        "parameters": [
          {
            "$ref": "#/components/parameters/if-match"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique Cargospot internal ID for this booking. Example - 21252030.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Booking details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatedBookingResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content (Successful)",
            "content": {}
          },
          "400": {
            "description": "Bad Request (Invalid syntax)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Authentication not done)",
            "content": {}
          },
          "403": {
            "description": "Forbidden (No access rights to the content)",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "412": {
            "description": "Precondition Failed",
            "content": {}
          },
          "422": {
            "description": "Un processable Entity (Semantic error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Retrieve an existing booking by its technical id or by its waybill reference (000-00000000).",
        "description": "Allows you to retrieve booking details by its technical id or by its air waybill reference (000-00000000) from Cargospot. If more than one record exists in Cargospot for the air waybill, the latest record will be returned.",
        "operationId": "retrieveBookingByID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique Cargospot internal ID (technical id) for this booking (21252030) or its air waybill reference (000-00000000).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header identifies the latest version of this resource. This ETag header should be mandatorily included in the if-match header while trying to update or cancel the booking.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (Invalid syntax)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Authentication not done)",
            "content": {}
          },
          "403": {
            "description": "Forbidden (No access rights to the content)",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity (Semantic error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bookings/{id}/cancellation-requests": {
      "post": {
        "tags": [
          "booking-controller"
        ],
        "summary": "Cancel booking",
        "description": "Allows you to cancel an existing booking in Cargospot.",
        "operationId": "cancelBooking",
        "parameters": [
          {
            "$ref": "#/components/parameters/if-match"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique Cargospot internal ID for booking. Example - 212520304.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content (Successful)",
            "content": {}
          },
          "400": {
            "description": "Bad Request (Invalid syntax)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (Authentication not done)",
            "content": {}
          },
          "403": {
            "description": "Forbidden (No access rights to the content)",
            "content": {}
          },
          "404": {
            "description": "Not found",
            "content": {}
          },
          "412": {
            "description": "Precondition Failed",
            "content": {}
          },
          "422": {
            "description": "Un-processable Entity (Semantic error)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "apikey"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "BookingResource": {
        "type": "object",
        "required": [
          "airWaybill",
          "agentAccountNumber",
          "originAirportCode",
          "destinationAirportCode",
          "pieces",
          "weight",
          "natureOfGoods",
          "segments"
        ],
        "properties": {
          "issueCarrierCode": {
            "type": "string",
            "description": "Issuing carrier two- or three-character code. Specify this field only if the issuing carrier is different from the airline linked to air waybill prefix.",
            "example": "XS"
          },
          "airWaybill": {
            "$ref": "#/components/schemas/AirWaybillResource"
          },
          "agentAccountNumber": {
            "type": "string",
            "description": "Unique identifier for the participant. This field is optional based on the airline specific configuration, otherwise it is mandatory. In case agentAccountNumber is optional for an airline the shipper details will become mandatory.",
            "example": "81470000009"
          },
          "originAirportCode": {
            "type": "string",
            "description": "Origin code is the 3-letter-IATA code of the airport.",
            "example": "SIN"
          },
          "destinationAirportCode": {
            "type": "string",
            "description": "Destination code is the 3-letter-IATA code of the airport.",
            "example": "JFK"
          },
          "shippersReferenceNumber": {
            "type": "string",
            "description": "The shipper or its agent may enter the appropriate optional shipping information as agreed upon with the issuing carrier.  The so-called SRN data will also be used in the C-IMP FWB message and in the CASS Billing Tape for accounting purposes.",
            "example": "8565856581"
          },
          "salesAreaCode": {
            "type": "string",
            "description": "Sales area code to which the agent belongs. This region is normally the one stored against the agent details but can be different for a particular shipment.",
            "example": "LHR"
          },
          "currencyCode": {
            "type": "string",
            "description": "Currency Code linked to the booking.",
            "example": "SGD"
          },
          "shipmentChargeCode": {
            "type": "string",
            "enum": [
              "CA",
              "CB",
              "CC",
              "CG",
              "CP",
              "CX",
              "NC",
              "PC",
              "PD",
              "PG",
              "PP",
              "PX",
              "XA",
              "XB"
            ],
            "description": "Charges type. Possible values are CA - Partial collect credit - Partial prepaid cash, CB - Partial collect credit - partial prepaid credit, CC - All charges collect, CG - All charges collect by GBL, CP - Destination collect cash, CX - Destination collect credit, NC - Service rate no charge, PC - Partial prepaid cash, PD - Partial prepaid credit, PG - All charges prepaid by GBL, PP - All charges prepaid cash, PX - All charges prepaid credit, XA - Exclude from agents invoice, XB - Exclude from both agent/consignee invoice. This parameter will only work with specific airline instances.",
            "example": "PP"
          },
          "freightChargeType": {
            "type": "string",
            "enum": [
              "Prepaid",
              "Collect"
            ],
            "description": "Code indicating whether payment will be made at origin (prepaid) or at destination (collect) for freight charges.",
            "default": "Prepaid",
            "example": "Prepaid"
          },
          "otherChargesType": {
            "type": "string",
            "enum": [
              "Prepaid",
              "Collect"
            ],
            "description": "Code indicating whether payment will be made at origin (prepaid) or at destination (collect) for other charges.",
            "default": "Prepaid",
            "example": "Collect"
          },
          "reference": {
            "type": "string",
            "maxLength": 15,
            "description": "This field captures any airline internal or external reference to this booking.",
            "example": "SPDQUOTE01MAY"
          },
          "customsOriginCode": {
            "type": "string",
            "description": "Customs origin code required for customs. Possible values are C - Goods in free circulation, T1 - Goods from outside the EU under customs control, T2 - EU goods not in free circulation (e.g. Tobacco, Spirit etc.), T2F - Goods originated from the Spanish isles, TD - Goods already under formal transit procedure  (e.g. T1, TIR, Carnet, ATA Carnet, NATO Form 2, etc.), TF- TF, X - Goods originated from the EU, destined for outside the EU but leaving EU from another EU country, DE - Domestic.",
            "example": "C"
          },
          "IATAClassRuleCode": {
            "type": "string",
            "description": "IATA class value is used to decide if a surcharge or reduction needs to applied to an IATA general cargo rate/charge. Example: The IATA class value - VAL will usually result in the application of a 200% surcharge on the IATA general cargo rate/charge.",
            "example": "VAL"
          },
          "countOfUNNumbers": {
            "type": "integer",
            "format": "int32",
            "description": "To indicate the count of UN Numbers of a movement. The data can be used for invoicing purposes. If the other charges code RAC has to be calculated in the full air waybill data entry screen, the system will take this count of UN numbers to calculate the charges automatically.",
            "example": 2
          },
          "pieces": {
            "type": "integer",
            "format": "int32",
            "description": "Number of pieces.",
            "example": 2
          },
          "weight": {
            "$ref": "#/components/schemas/Weight"
          },
          "volume": {
            "$ref": "#/components/schemas/Volume"
          },
          "densityCode": {
            "type": "string",
            "description": "The density group code is used to determine the approximate volume. The correct volume will however have precedence. Possible values are 00 - Fruit, Vegetables, Leather; 01 - Tapes, Pharma, Typewriters; 02 - Flowers, Glassware, Toys; 03 - Clothing, Personal Effects, Rubber; 04 - Carpets, DIP, Radios, Plants; 05 - Automobiles, speakers, birds; 06 - Spares, cosmetics, instruments; 07 - Books, fish, metal products; 08 - Engines, meat, printed materials; 09 - Bearings, paint, valuables; 10 - Liquids, gold. Volume or desityCode will be mandatory for specific airlines based on the configuration in Cargospot.",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10"
            ],
            "example": "00"
          },
          "slac": {
            "type": "integer",
            "format": "int32",
            "description": "In case of a shipper-built unit (BUP), the piece count of the AWB is not reflecting the effective number of pieces of the consignment. For customs purposes, the actual number of pieces must be entered in this field. e.g. Piece count in AWB = 1 (1 ULD), SLAC = 55.",
            "example": 12
          },
          "natureOfGoods": {
            "type": "string",
            "description": "Description of the nature of goods.",
            "example": "Live animal"
          },
          "adhocPrice": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdhocPriceResource"
            }
          },
          "movementPriority": {
            "type": "string",
            "description": "Indicates a specific priority for carriage. The standard priority codes include - Consignment Under Bond (B), Express Parcel Shipment (E), Express Shipments (X), High Priority (H), Low Priority (L), Service Shipment (S). This field also supports nonstandard priority codes (two-character alpha numeric) defined in Cargospot.",
            "example": "99"
          },
          "dimensions": {
            "$ref": "#/components/schemas/Dimensions"
          },
          "otherCustomsAndSecurityInformation": {
            "$ref": "#/components/schemas/OCI"
          },
          "segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Segment"
            }
          },
          "ULDs": {
            "description": "Specify the ULD information each line in the array corresponds to information about one specific ULD type with one or more units. Use this object only if the same set of ULDs are carried across all flights. Only specify the ULD information either at booking or segment level, not both. ULD information should be sent in the booking or segment level depending on the configuration within the airline instance.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ULD"
            }
          },
          "shipper": {
            "$ref": "#/components/schemas/ParticipantResource"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "consignee": {
            "$ref": "#/components/schemas/ParticipantResource"
          },
          "specialHandlingCodes": {
            "type": "array",
            "maxItems": 9,
            "items": {
              "type": "string",
              "description": "Special handling code to identify type of cargo.",
              "example": "AVI"
            }
          },
          "productCode": {
            "type": "string",
            "description": "Product code that exists in Cargospot. Product describes a service offering from an airline. It encapsulates various additional services that the airline will undertake while transporting the shipment.",
            "example": "Express"
          },
          "priceClassCode": {
            "type": "string",
            "description": "Price class code (rating specific parameter) that exists in Cargospot.",
            "example": "GENPAX"
          },
          "handlingRemarks": {
            "type": "array",
            "maxItems": 2,
            "items": {
              "type": "string",
              "maxLength": 65,
              "description": "Handling remarks.",
              "example": "Shippers certification for live animals."
            }
          },
          "OSIRemarks": {
            "type": "array",
            "maxItems": 2,
            "items": {
              "type": "string",
              "maxLength": 65,
              "description": "Other service information.",
              "example": "Must be stored upright"
            }
          },
          "remarks": {
            "type": "string",
            "maxLength": 512,
            "description": "Booking remarks.",
            "example": "Free text captured as remarks."
          },
          "IATANoteCode": {
            "type": "string",
            "description": "This parameter allows to specify that a particular IATA Note applies to the shipment. The note should be existing in Cargospot for the carrier. At this stage the application will not check if the note is applicable for the rate/class of the shipment nor whether it exists for the origin - destination pair of the shipment.",
            "example": "PR01"
          },
          "temperature": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Temperature"
            }
          },
          "dryIce": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DryIce"
            }
          }
        }
      },
      "AirWaybillResource": {
        "type": "object",
        "required": [
          "prefix",
          "referenceType"
        ],
        "properties": {
          "referenceType": {
            "type": "string",
            "enum": [
              "BOOK",
              "QUOTE",
              "AIR WAYBILL"
            ],
            "description": "Use AIR WAYBILL if an air waybill number will be used to refer to this booking as part of this creation process. Specify as BOOK for bookings to be created without serial number (this is a reserved feature).",
            "default": "AIR WAYBILL",
            "example": "AIR WAYBILL"
          },
          "prefix": {
            "type": "string",
            "description": "Coded representation of an airline or type of cargo. For representing an airline use the three-character alphanumeric airline code.",
            "example": "950"
          },
          "serial": {
            "type": "string",
            "description": "A serial number allocated by an airline to identify a particular air cargo shipment and the associated air waybill. This parameter should be included only if the reference type is AIR WAYBILL. This parameter should be left as blank if you need Cargospot to pick the next available serial number. Specific setup is needed in Cargospot for automated serial number generation. If the serial is blank then Cargospot will assign a number from the stock of the agent first; if there is no agent stock then the agent HDQ stock will be consumed; if no stock is available then an error will be returned.",
            "example": "10203045"
          },
          "consolidation": {
            "type": "boolean",
            "description": "Flag to mark the air waybill as a consolidation i.e. has house air waybills associated to this air waybill. True indicates consolidation.",
            "default": false,
            "example": true
          }
        }
      },
      "Weight": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Weight.",
            "format": "float",
            "example": 3000
          },
          "unit": {
            "type": "string",
            "description": "Weight unit. KG indicates Kilogram; LB indicates Pound.",
            "example": "KG",
            "enum": [
              "KG",
              "LB"
            ]
          }
        }
      },
      "Volume": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Volume. Volume will be mandatory for specific airlines based on the configuration in Cargospot.",
            "format": "float",
            "example": 24
          },
          "unit": {
            "type": "string",
            "description": "Volume unit. MC indicates cubic metre; CF indicates cubic feet.",
            "example": "MC",
            "enum": [
              "MC",
              "CF"
            ]
          }
        }
      },
      "AdhocPriceResource": {
        "type": "object",
        "description": "For loose shipments, only one array item is expected unless there is a rate construction request. In the case of a rate construction request each array item will represent a unique ad hoc rate line. For ULD shipments each array item will correspond to a ULD. If the booking includes an adhocPrice then the first transport means date should be greater than or equal to current date (time zone depends on segment origin of the first transport means) and within the ad hoc effective period. You should consult the respective airline administrator if you need more details about the ad hoc effective period.",
        "required": [
          "currencyCode",
          "rate chargePerULD"
        ],
        "properties": {
          "allInRate": {
            "type": "boolean",
            "description": "Indicates that ad hoc rate includes with other charge amount or not. True - Ad hoc rate/kg includes with freight amount + Default Other charge amount. False indicates that rate includes only freight amount.",
            "example": false
          },
          "calculationWeightType": {
            "type": "string",
            "enum": [
              "Chargeable",
              "Gross"
            ],
            "description": "Code identifying a method to calculate selling total amount. Chargeable - Chargeable weight will be considered for calculation. Gross - Gross Weight will be considered for calculation.",
            "default": "Chargeable",
            "example": "Gross"
          },
          "ULD": {
            "$ref": "#/components/schemas/ULDForAdhocPrice"
          },
          "currencyCode": {
            "type": "string",
            "description": "Currency code.",
            "example": "SGD"
          },
          "rate": {
            "type": "number",
            "format": "float",
            "description": "Rate amount. If SGD is currency and KG is the booking weight unit then SGD/KG. This is mandatory if loose shipments.",
            "example": 42.5
          },
          "chargePerULD": {
            "type": "number",
            "format": "float",
            "description": "Charge per ULD. This is mandatory if ULD shipment.",
            "example": 60
          },
          "ULDOverPivotRate": {
            "type": "number",
            "format": "float",
            "description": "ULD over pivot rate.",
            "example": 42.5
          },
          "contact": {
            "type": "string",
            "description": "Contact details of the requestor.",
            "example": "+65 80000002"
          }
        }
      },
      "ULDForAdhocPrice": {
        "type": "object",
        "required": [
          "type contourCode contourCodeList"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "ULD type. Type or contourCode or contourCodeList should be specified.",
            "example": "PMC"
          },
          "number": {
            "type": "string",
            "description": "ULD reference number.",
            "example": "PMC10006XS"
          },
          "contourCode": {
            "type": "string",
            "description": "Contour code that exists in Cargospot. Code indicating the exact contour of a ULD including its footprint. Type or contourCode or contourCodeList should be specified.",
            "example": "A2"
          },
          "contourCodeList": {
            "type": "string",
            "description": "Contour code list that exists in Cargospot. Contour code list is a group of contour codes. The Price is applicable to all the contour codes in the list. Type or contourCode or contourCodeList should be specified.",
            "example": "LDP"
          }
        }
      },
      "Dimensions": {
        "type": "object",
        "description": "The sum of the weight across pieces provided in the dimension object should be equal to the air waybill & segment level weight. The computed volume based on the dimensions should match with the air waybill & segment level volume.Do note that Cargospot allows for two configurations related to how the weight in the dimension line is treated. 1/ The weight specified could be treated as weight per piece; so if you have a dimension line with 5 pieces and 100 kg, the weight of this dimension line would be 5*100 = 500 Kg. 2/ The weight specified could be treated as the weight of all pieces on the dimension line; so for the same example of a dimension line with 5 pieces and 100 Kg, the weight of this dimension line would 100 Kg.",
        "properties": {
          "measurements": {
            "type": "array",
            "maxItems": 99,
            "items": {
              "$ref": "#/components/schemas/Measurements"
            }
          },
          "unit": {
            "type": "string",
            "description": "Unit for length, width and height. CMT indicates centimeters; INH indicates inches.",
            "enum": [
              "CMT",
              "INH"
            ],
            "default": "CMT",
            "example": "CMT"
          }
        }
      },
      "Measurements": {
        "type": "object",
        "required": [
          "pieces",
          "length",
          "width",
          "height"
        ],
        "properties": {
          "pieces": {
            "type": "integer",
            "format": "int32",
            "description": "Pieces",
            "example": 1
          },
          "weight": {
            "$ref": "#/components/schemas/Weight"
          },
          "length": {
            "type": "integer",
            "format": "int32",
            "description": "Length.",
            "example": 100
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "description": "Width.",
            "example": 80
          },
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "Height.",
            "example": 60
          }
        }
      },
      "DimensionDetails": {
        "type": "object",
        "properties": {
          "pieces": {
            "type": "integer",
            "description": "Pieces",
            "example": 1
          },
          "weight": {
            "$ref": "#/components/schemas/Weight"
          },
          "length": {
            "type": "integer",
            "description": "Length",
            "example": 1
          },
          "height": {
            "type": "integer",
            "description": "Height",
            "example": 1
          },
          "width": {
            "type": "integer",
            "description": "Width",
            "example": 1
          },
          "unit": {
            "type": "string",
            "description": "Unit",
            "example": "CMT"
          },
          "volume": {
            "$ref": "#/components/schemas/Volume"
          }
        }
      },
      "OCI": {
        "type": "object",
        "properties": {
          "otherCustomsInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomsAndSecurityInformation"
            }
          },
          "securityDeclarations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomsAndSecurityInformation"
            }
          }
        }
      },
      "CustomsAndSecurityInformation": {
        "type": "object",
        "required": [
          "countryCode informationIdentifier controlInformationCode",
          "supplementaryControlInformation"
        ],
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code. One of country code, informationIdentifier or controlInformationCode is mandatory.",
            "example": "US"
          },
          "informationIdentifier": {
            "type": "string",
            "description": "OCI info ID that exists in Cargospot. This parameter allows 0 or 3 alpha characters. Examples: AGT, SSI, ABI. One of country code, informationIdentifier or controlInformationCode is mandatory.",
            "example": "SSI"
          },
          "controlInformationCode": {
            "type": "string",
            "description": "Customs code used for transmitting/receiving OCI data. This parameter allows 0, 1, 2 or 3 alpha characters. Examples - SCO, CB, F. One of country code, informationIdentifier or controlInformationCode is mandatory.",
            "example": "SPX"
          },
          "supplementaryControlInformation": {
            "type": "string",
            "maxLength": 35,
            "description": "This parameter allow alpha-numeric characters, and a dash ( - ) and a dot ( . ) characters, with a maximum of 35 characters free text.",
            "example": "Note for US - customs."
          }
        }
      },
      "Segment": {
        "type": "object",
        "required": [
          "originAirportCode",
          "destinationAirportCode",
          "transportMeans",
          "spaceAllocationCode",
          "pieces",
          "weight"
        ],
        "properties": {
          "originAirportCode": {
            "type": "string",
            "description": "Segment origin of this resource. Location at which cargo is loaded to this booking segment.",
            "example": "SIN"
          },
          "destinationAirportCode": {
            "type": "string",
            "description": "Segment destination of this resource. Location at which cargo is offloaded from this booking segment.",
            "example": "JFK"
          },
          "transportMeans": {
            "$ref": "#/components/schemas/TransportMeansResource"
          },
          "spaceAllocationCode": {
            "type": "string",
            "enum": [
              "CA",
              "HK",
              "HL",
              "HN",
              "KK",
              "LL",
              "NA",
              "NL",
              "NN",
              "SS",
              "UN",
              "UU",
              "QU",
              "KL",
              "KC",
              "LA",
              "XX"
            ],
            "description": "Space allocation codes used for booking. Possible values are CA - Space allocation against allotment, HK - Holding confirmed, HL - Holding Wait List, HN - Have requested space allocation, KK - Space Confirmed, LL - Wait list, NA - Requesting space allocation; if not available will accept alternative, NL - Requesting space allocation; for wait list, NN - Requesting space allocation; will not accept alternative, SS - Reporting Sale, UN - No confirmation, UU - Unable to confirm space, QU - Unable to confirm queue to FCTL, KL - Wait list confirmed, KC - Wait list confirmed, LA - Stand by virtual pending confirm, XX - Cancel previous space allocation.",
            "example": "NN"
          },
          "allotmentCode": {
            "type": "string",
            "description": "Typically used to specify the allotment code if the space allocation code is CA.",
            "example": "CSPALLOT81"
          },
          "pieces": {
            "type": "integer",
            "format": "int32",
            "description": "Actual Pieces (total or part of the total pieces of the shipment) booked on the segment.",
            "example": 6
          },
          "weight": {
            "$ref": "#/components/schemas/Weight"
          },
          "volume": {
            "$ref": "#/components/schemas/Volume"
          },
          "dryIcePieces": {
            "type": "integer",
            "format": "int32",
            "description": "Number of pieces which the user plan to enter the Dry Ice weight. This parameter will only work with specific airline instances.",
            "example": 1
          },
          "dryIceWeight": {
            "$ref": "#/components/schemas/DryIceWeight"
          },
          "ULDs": {
            "description": "Specify the ULD information each line in the array corresponds to information about one specific ULD contour with one or more units. Use this object to specify the ULD information carried on this specific segment. Only specify the ULD information either at booking or segment level, not both. ULD information should be sent in the booking or segment level depending on the configuration within the airline instance.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ULD"
            }
          }
        }
      },
      "TransportMeansResource": {
        "type": "object",
        "required": [
          "carrierCode",
          "number",
          "date"
        ],
        "properties": {
          "carrierCode": {
            "type": "string",
            "description": "Coded identification approved by IATA for a carrier, linked to the transport means (flight/truck).",
            "example": "XS"
          },
          "number": {
            "type": "string",
            "description": "Reference number for this transport (e.g. flight number). Format: nnn(n)(a).",
            "example": "481A"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Reference date for this transport. Format: YYYY-MM-DD.",
            "example": "2020-09-06"
          }
        }
      },
      "ULD": {
        "type": "object",
        "required": [
          "type number",
          "bookedWeight"
        ],
        "properties": {
          "number": {
            "type": "string",
            "description": "Indicates the full ULD number that includes the ULD type (e.g. AKE), ULD number (e.g. 12345) and carrier code (e.g. XS). If the ULD number is not available this field can also just capture the ULD type. Either number or type should be specified.",
            "example": "AKE48101XS"
          },
          "type": {
            "type": "string",
            "description": "Customer defined ULD type code as available in the specific Cargospot instance. Either number or type should be specified.",
            "example": "AKE"
          },
          "count": {
            "type": "number",
            "description": "Count of ULDs linked to the value specified in either type or number.",
            "example": 1
          },
          "loadIndicator": {
            "type": "string",
            "enum": [
              "M",
              "L",
              "N",
              "U",
              "R"
            ],
            "description": "Indicates where the ULD can be loaded on the airplane. Possible values M - Main deck loading only, N - Nose door loading only, L - ULD height below 160 centimetres, U - ULD height between 160 and 244 centimetres, R - ULD height above 244 centimetres.",
            "example": "L"
          },
          "bookedWeight": {
            "$ref": "#/components/schemas/Weight"
          },
          "bookedVolume": {
            "$ref": "#/components/schemas/Volume"
          },
          "usedVolume": {
            "$ref": "#/components/schemas/Volume"
          },
          "dryIceWeight": {
            "$ref": "#/components/schemas/DryIceWeight"
          },
          "contourCode": {
            "type": "string",
            "description": "ULD contour code that exists in Cargospot. Code indicating the exact contour of a ULD including its footprint.",
            "example": "Q6"
          },
          "shipperBuiltUnit": {
            "type": "boolean",
            "description": "Indicates if the container is shipper-built unit or not. This parameter will only work with specific airline instances.",
            "example": true
          }
        }
      },
      "ParticipantResource": {
        "type": "object",
        "description": "Either accountNumber or name, city and address should be specified. Temporary participant will be created if accountNumber is not specified.",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Unique identifier for the participant/shipper/consignee.",
            "example": "81470000009"
          },
          "name": {
            "type": "string",
            "description": "Name of the participant.",
            "example": "CSP Freight Forwarders"
          },
          "additionalName": {
            "type": "string",
            "description": "Additional name information for the participant.",
            "example": "CHAMP Cargosystems"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [
          "address",
          "city",
          "countryCode"
        ],
        "description": "Address information",
        "properties": {
          "address": {
            "type": "string",
            "description": "Main address of the participant.",
            "example": "St-21."
          },
          "additionalAddress": {
            "type": "string",
            "description": "Additional address of the participant.",
            "example": "Cargo Complex"
          },
          "zipCode": {
            "type": "string",
            "description": "The postal code of the address (zip code for USA). E.g. 8004 - for an address in Zurich, Switzerland, 75064 - for a zip code in Texas, USA. This parameter is mandatory for countryCode US.",
            "example": "75064"
          },
          "city": {
            "type": "string",
            "description": "City of the address of the participant.",
            "example": "Austin"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State (for United States only) of the address of the participant. This parameter is mandatory for countryCode US.",
            "example": "TX"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 2-letter country code. This indicates the country of the address of the participant.",
            "example": "US"
          }
        }
      },
      "AddressWithCountryName": {
        "type": "object",
        "description": "Address information",
        "properties": {
          "address": {
            "type": "string",
            "description": "Main address of the participant.",
            "example": "St-21."
          },
          "additionalAddress": {
            "type": "string",
            "description": "Additional address of the participant.",
            "example": "Cargo Complex"
          },
          "zipCode": {
            "type": "string",
            "description": "The postal code of the address (zip code for USA). Eg. 8004 - for an address in Zurich, Switzerland, 75064 - for a zip code in Texas, USA.",
            "example": "75064"
          },
          "city": {
            "type": "string",
            "description": "City of the address of the participant.",
            "example": "Austin"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State (for United States only) of the address of the participant.",
            "example": "TX"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          }
        }
      },
      "Contact": {
        "type": "object",
        "description": "Participant contact information.",
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "Phone number of the participant.",
            "example": "631225656"
          },
          "faxNumber": {
            "type": "string",
            "description": "Fax number of the participant.",
            "example": "631225657"
          }
        }
      },
      "EmergencyContact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the emergency contact person.",
            "example": "Jackson"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Name of the emergency contact person.",
            "example": "+65 81234567"
          },
          "email": {
            "type": "string",
            "description": "Name of the emergency contact person.",
            "example": "jack@champ.aero"
          }
        }
      },
      "Temperature": {
        "type": "object",
        "description": "Temperature range in degree Celsius.",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Product",
              "Storage"
            ],
            "description": "Type; product, storage temperature.",
            "example": "Product"
          },
          "minimum": {
            "type": "number",
            "format": "float",
            "description": "Minimum temperature in degree Celsius.",
            "example": "−5.25"
          },
          "maximum": {
            "type": "number",
            "format": "float",
            "description": "Maximum temperature in degree Celsius.",
            "example": 5.25
          }
        }
      },
      "DryIceWeight": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Dry ice weight. This parameter will only work with specific airline instances.",
            "format": "float",
            "example": 3000
          },
          "unit": {
            "type": "string",
            "description": "Weight unit. KG indicates Kilogram; LB indicates Pound.",
            "example": "KG",
            "enum": [
              "KG",
              "LB"
            ]
          }
        }
      },
      "DryIce": {
        "type": "object",
        "properties": {
          "pieces": {
            "type": "integer",
            "format": "int32",
            "description": "Number of pieces which the user plan to enter the dry ice weight.",
            "example": 1
          },
          "weightPerPiece": {
            "$ref": "#/components/schemas/Weight"
          },
          "totalWeight": {
            "$ref": "#/components/schemas/Weight"
          }
        }
      },
      "UpdatedBookingResource": {
        "type": "object",
        "required": [
          "airWaybill",
          "agentAccountNumber",
          "originAirportCode",
          "destinationAirportCode",
          "pieces",
          "weight",
          "natureOfGoods",
          "segments"
        ],
        "properties": {
          "issueCarrierCode": {
            "type": "string",
            "description": "Issuing carrier two- or three-character code. Specify this field only if the issuing carrier is different from the airline linked to air waybill prefix.",
            "example": "XS"
          },
          "airWaybill": {
            "$ref": "#/components/schemas/AirWaybillResource"
          },
          "agentAccountNumber": {
            "type": "string",
            "description": "Unique identifier for the participant. This field is optional based on the airline specific configuration, otherwise it is mandatory. In case agentAccountNumber is optional for an airline the shipper details will become mandatory.",
            "example": "81470000009"
          },
          "originAirportCode": {
            "type": "string",
            "description": "Origin code is the 3-letter-IATA code of the airport.",
            "example": "SIN"
          },
          "destinationAirportCode": {
            "type": "string",
            "description": "Destination code is the 3-letter-IATA code of the airport.",
            "example": "JFK"
          },
          "shippersReferenceNumber": {
            "type": "string",
            "description": "The shipper or its agent may enter the appropriate optional shipping information as agreed upon with the issuing carrier.  The so-called SRN data will also be used in the C-IMP FWB message and in the CASS Billing Tape for accounting purposes.",
            "example": "8565856581"
          },
          "salesAreaCode": {
            "type": "string",
            "description": "Sales area code to which the agent belongs. This region is normally the one stored against the agent details but can be different for a particular shipment.",
            "example": "LHR"
          },
          "currencyCode": {
            "type": "string",
            "description": "Currency Code linked to the booking.",
            "example": "SGD"
          },
          "shipmentChargeCode": {
            "type": "string",
            "enum": [
              "CA",
              "CB",
              "CC",
              "CG",
              "CP",
              "CX",
              "NC",
              "PC",
              "PD",
              "PG",
              "PP",
              "PX",
              "XA",
              "XB"
            ],
            "description": "Charges type. Possible values are CA - Partial collect credit - Partial prepaid cash, CB - Partial collect credit - partial prepaid credit, CC - All charges collect, CG - All charges collect by GBL, CP - Destination collect cash, CX - Destination collect credit, NC - Service rate no charge, PC - Partial prepaid cash, PD - Partial prepaid credit, PG - All charges prepaid by GBL, PP - All charges prepaid cash, PX - All charges prepaid credit, XA - Exclude from agents invoice, XB - Exclude from both agent/consignee invoice. This parameter will only work with specific airline instances.",
            "example": "PP"
          },
          "freightChargeType": {
            "type": "string",
            "enum": [
              "Prepaid",
              "Collect"
            ],
            "description": "Code indicating whether payment will be made at origin (prepaid) or at destination (collect) for freight charges.",
            "default": "Prepaid",
            "example": "Prepaid"
          },
          "otherChargesType": {
            "type": "string",
            "enum": [
              "Prepaid",
              "Collect"
            ],
            "description": "Code indicating whether payment will be made at origin (prepaid) or at destination (collect) for other charges.",
            "default": "Prepaid",
            "example": "Collect"
          },
          "reference": {
            "type": "string",
            "description": "This field captures any airline internal or external reference to this booking.",
            "example": "SPDQUOTE01MAY"
          },
          "customsOriginCode": {
            "type": "string",
            "description": "Customs origin code required for customs. Possible values are C - Goods in free circulation, T1 - Goods from outside the EU under customs control, T2 - EU goods not in free circulation (e.g. Tobacco, Spirit etc.), T2F - Goods originated from the Spanish isles, TD - Goods already under formal transit procedure  (e.g. T1, TIR, Carnet, ATA Carnet, NATO Form 2, etc.), TF- TF, X - Goods originated from the EU, destined for outside the EU but leaving EU from another EU country, DE - Domestic.",
            "example": "C"
          },
          "IATAClassRuleCode": {
            "type": "string",
            "description": "IATA class value is used to decide if a surcharge or reduction needs to applied to an IATA general cargo rate/charge. Example: The IATA class value - VAL will usually result in the application of a 200% surcharge on the IATA general cargo rate/charge.",
            "example": "VAL"
          },
          "countOfUNNumbers": {
            "type": "integer",
            "format": "int32",
            "description": "To indicate the count of UN Numbers of a movement. The data can be used for invoicing purposes. If the other charges code RAC has to be calculated in the full air waybill data entry screen, the system will take this count of UN numbers to calculate the charges automatically.",
            "example": 2
          },
          "pieces": {
            "type": "integer",
            "format": "int32",
            "description": "Number of pieces.",
            "example": 2
          },
          "weight": {
            "$ref": "#/components/schemas/Weight"
          },
          "volume": {
            "$ref": "#/components/schemas/Volume"
          },
          "densityCode": {
            "type": "string",
            "description": "The density group code is used to determine the approximate volume. The correct volume will however have precedence. Possible values are 00 - Fruit, Vegetables, Leather; 01 - Tapes, Pharma, Typewriters; 02 - Flowers, Glassware, Toys; 03 - Clothing, Personal Effects, Rubber; 04 - Carpets, DIP, Radios, Plants; 05 - Automobiles, speakers, birds; 06 - Spares, cosmetics, instruments; 07 - Books, fish, metal products; 08 - Engines, meat, printed materials; 09 - Bearings, paint, valuables; 10 - Liquids, gold. Volume or desityCode will be mandatory for specific airlines based on the configuration in Cargospot.",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10"
            ],
            "example": "00"
          },
          "slac": {
            "type": "integer",
            "format": "int32",
            "description": "In case of a shipper-built unit (BUP), the piece count of the AWB is not reflecting the effective number of pieces of the consignment. For customs purposes, the actual number of pieces must be entered in this field. e.g. Piece count in AWB = 1 (1 ULD), SLAC = 55.",
            "example": 12
          },
          "natureOfGoods": {
            "type": "string",
            "description": "Description of the nature of goods.",
            "example": "Live animal"
          },
          "adhocPrice": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/UpdatedAdhocPriceResource"
                },
                {
                  "$ref": "#/components/schemas/AdhocPriceResource"
                }
              ]
            }
          },
          "movementPriority": {
            "type": "string",
            "description": "Indicates a specific priority for carriage. The standard priority codes include - Consignment Under Bond (B), Express Parcel Shipment (E), Express Shipments (X), High Priority (H), Low Priority (L), Service Shipment (S). This field also supports nonstandard priority codes (two-character alpha numeric) defined in Cargospot.",
            "example": "99"
          },
          "dimensions": {
            "$ref": "#/components/schemas/UpdatedDimensions"
          },
          "otherCustomsAndSecurityInformation": {
            "$ref": "#/components/schemas/UpdatedOCI"
          },
          "segments": {
            "type": "array",
            "description": "Each array element  should be used to send one of the following three types of data - 1/ data available in the GET (retrieve) request that is sent back in the PUT request as-is; 2/ data available in the GET request that needs to be modified; 3/ data that needs to be added. To send back data as is use the UpdatedSegment schema. To update retrieved data use the UpdatedSegment schema. To add  new data use the Segment schema.",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Segment"
                },
                {
                  "$ref": "#/components/schemas/UpdatedSegment"
                }
              ]
            }
          },
          "ULDs": {
            "description": "Each element in the array corresponds to information about one specific ULD type with one or more units. Use this object only if the same set of ULDs are carried across all flights. Only specify the ULD information either at booking or segment level, not both. ULD information should be sent in the booking or segment level depending on the configuration within the airline instance. Each array element  should be used to send one of the following three types of data - 1/ data available in the GET (retrieve) request that is sent back in the PUT request as-is; 2/ data available in the GET request that needs to be modified; 3/ data that needs to be added. To send back data as is use the UpdatedULD schema. To update retrieved data use the UpdatedULD schema. To add new data use the ULD schema.",
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ULD"
                },
                {
                  "$ref": "#/components/schemas/UpdatedULD"
                }
              ]
            }
          },
          "shipper": {
            "$ref": "#/components/schemas/ParticipantResource"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContact"
          },
          "consignee": {
            "$ref": "#/components/schemas/ParticipantResource"
          },
          "specialHandlingCodes": {
            "type": "array",
            "maxItems": 9,
            "items": {
              "type": "string",
              "description": "Special handling code to identify type of cargo.",
              "example": "AVI"
            }
          },
          "productCode": {
            "type": "string",
            "description": "Product code that exists in Cargospot. Product describes a service offering from an airline. It encapsulates various additional services that the airline will undertake while transporting the shipment.",
            "example": "Express"
          },
          "priceClassCode": {
            "type": "string",
            "description": "Price class code (rating specific parameter) that exists in Cargospot.",
            "example": "GENPAX"
          },
          "handlingRemarks": {
            "type": "array",
            "maxItems": 2,
            "items": {
              "type": "string",
              "description": "Handling remarks. Maximum length is 65 characters.",
              "example": "Shippers certification for live animals."
            }
          },
          "OSIRemarks": {
            "type": "array",
            "maxItems": 2,
            "items": {
              "type": "string",
              "description": "Other service information. Maximum length is 65 characters.",
              "example": "Must be stored upright"
            }
          },
          "remarks": {
            "type": "string",
            "description": "Booking remarks. Maximum length is 512 characters.",
            "example": "Free text captured as remarks."
          },
          "iataNoteCode": {
            "type": "string",
            "description": "This parameter allows to specify that a particular IATA Note applies to the shipment. The note should be existing in Cargospot for the carrier. At this stage the application will not check if the note is applicable for the rate/class of the shipment nor whether it exists for the origin - destination pair of the shipment.",
            "example": "PR01"
          },
          "temperature": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Temperature"
            }
          },
          "dryIce": {
            "type": "array",
            "description": "Each array element  should be used to send one of the following three types of data - 1/ data available in the GET (retrieve) request that is sent back in the PUT request as-is; 2/ data available in the GET request that needs to be modified; 3/ data that needs to be added. To send back data as is use the UpdatedDryIce schema. To update retrieved data use the UpdatedDryIce schema. To add new data use the DryIce schema.",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/DryIce"
                },
                {
                  "$ref": "#/components/schemas/UpdatedDryIce"
                }
              ]
            }
          }
        }
      },
      "UpdatedAdhocPriceResource": {
        "type": "object",
        "description": "For loose shipments, only one array item is expected unless there is a rate construction request. In the case of a rate construction request each array item will represent a unique ad hoc rate line.For ULD shipments each array item will correspond to a ULD.This object should be used to send two types of data - 1/ data available in the GET (retrieve) request that is sent back in the PUT request as-is and 2/ data available in the GET request that needs to be modified. If the booking includes an adhocPrice then the first transport means date should be greater than or equal to current date (time zone depends on segment origin of the first transport means) and within the ad hoc effective period. You should consult the respective airline administrator if you need more details about the ad hoc effective period.",
        "required": [
          "id",
          "currencyCode",
          "rate chargePerULD"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique Cargospot internal ID for Adhoc-price",
            "example": "31252030"
          },
          "originCode": {
            "type": "string",
            "description": "Origin code for this ad hoc rate line. This parameter should only be passed for rate construction.",
            "example": "SIN"
          },
          "destinationCode": {
            "type": "string",
            "description": "Destination code for this ad hoc rate line. This parameter should only be passed for rate construction.",
            "example": "JFK"
          },
          "allInRate": {
            "type": "boolean",
            "description": "Indicates that ad hoc rate includes with other charge amount or not. True - Ad hoc rate/kg includes with freight amount + Default Other charge amount. False indicates that rate includes only freight amount.",
            "example": false
          },
          "calculationWeightType": {
            "type": "string",
            "enum": [
              "Chargeable",
              "Gross"
            ],
            "description": "Code identifying a method to calculate selling total amount. Chargeable - Chargeable weight will be considered for calculation. Gross - Gross Weight will be considered for calculation.",
            "default": "Chargeable",
            "example": "Gross"
          },
          "ULD": {
            "$ref": "#/components/schemas/ULDForAdhocPrice"
          },
          "currencyCode": {
            "type": "string",
            "description": "Currency code.",
            "example": "SGD"
          },
          "rate": {
            "type": "number",
            "format": "float",
            "description": "Rate amount. If SGD is currency and KG is the booking weight unit then SGD/KG. This is mandatory if loose shipments.",
            "example": 42.5
          },
          "chargePerULD": {
            "type": "number",
            "format": "float",
            "description": "Charge per ULD. This is mandatory if ULD shipment.",
            "example": 60
          },
          "ULDOverPivotRate": {
            "type": "number",
            "format": "float",
            "description": "ULD over pivot rate.",
            "example": 42.5
          },
          "contact": {
            "type": "string",
            "description": "Contact details of the requestor.",
            "example": "+65 80000002"
          }
        }
      },
      "BookingDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique Cargospot internal ID for the booking.",
            "example": "21252030"
          },
          "airWaybill": {
            "$ref": "#/components/schemas/AirWaybill"
          },
          "issueCarrier": {
            "$ref": "#/components/schemas/Carrier"
          },
          "origin": {
            "$ref": "#/components/schemas/Location"
          },
          "destination": {
            "$ref": "#/components/schemas/Location"
          },
          "shippersReferenceNumber": {
            "type": "string",
            "description": "The shipper or its agent may enter the appropriate optional shipping information as agreed upon with the issuing carrier.  The so-called SRN data will also be used in the C-IMP FWB message and in the CASS Billing Tape for accounting purposes.",
            "example": "8565856581"
          },
          "agent": {
            "$ref": "#/components/schemas/Agent"
          },
          "status": {
            "type": "string",
            "enum": [
              "CONFIRMED",
              "UNCONFIRMED",
              "CANCELLED",
              "VOIDED"
            ],
            "description": "Booking status.",
            "example": "CONFIRMED"
          },
          "salesArea": {
            "$ref": "#/components/schemas/SalesArea"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "shipmentChargeCode": {
            "type": "string",
            "enum": [
              "CA",
              "CB",
              "CC",
              "CG",
              "CP",
              "CX",
              "NC",
              "PC",
              "PD",
              "PG",
              "PP",
              "PX",
              "XA",
              "XB"
            ],
            "description": "Charges type. Possible values are CA - Partial collect credit - Partial prepaid cash, CB - Partial collect credit - partial prepaid credit, CC - All charges collect, CG - All charges collect by GBL, CP - Destination collect cash, CX - Destination collect credit, NC - Service rate no charge, PC - Partial prepaid cash, PD - Partial prepaid credit, PG - All charges prepaid by GBL, PP - All charges prepaid cash, PX - All charges prepaid credit, XA - Exclude from agents invoice, XB - Exclude from both agent/consignee invoice. This parameter will only work with specific airline instances.",
            "example": "PP"
          },
          "freightChargeType": {
            "type": "string",
            "enum": [
              "Prepaid",
              "Collect"
            ],
            "description": "Code indicating whether payment will be made at origin (prepaid) or at destination (collect) for freight charegs.",
            "example": "Prepaid"
          },
          "otherChargesType": {
            "type": "string",
            "enum": [
              "Prepaid",
              "Collect"
            ],
            "description": "Code indicating whether payment will be made at origin (prepaid) or at destination (collect) for other charges.",
            "example": "Collect"
          },
          "reference": {
            "type": "string",
            "description": "This field captures any airline internal or external reference to this booking.",
            "example": "SPDQUOTE01MAY"
          },
          "customsOriginCode": {
            "type": "string",
            "description": "Customs origin code required for customs. Possible values are C - Goods in free circulation, T1 - Goods from outside the EU under customs control, T2 - EU goods not in free circulation (e.g. Tobacco, Spirit etc.), T2F - Goods originated from the Spanish isles, TD - Goods already under formal transit procedure  (e.g. T1, TIR, Carnet, ATA Carnet, NATO Form 2, etc.), TF- TF, X - Goods originated from the EU, destined for outside the EU but leaving EU from another EU country, DE - Domestic.",
            "example": "C"
          },
          "IATAClassRuleCode": {
            "type": "string",
            "description": "IATA class value is used to decide if a surcharge or reduction needs to applied to an IATA general cargo rate/charge. Example: The IATA class value - VAL will usually result in the application of a 200% surcharge on the IATA general cargo rate/charge.",
            "example": "VAL"
          },
          "pieces": {
            "type": "integer",
            "format": "int32",
            "description": "Number of pieces.",
            "example": 6
          },
          "weight": {
            "$ref": "#/components/schemas/Weight"
          },
          "volume": {
            "$ref": "#/components/schemas/Volume"
          },
          "densityCode": {
            "type": "string",
            "description": "The density group code is used to determine the approximate volume. The correct volume will however have precedence. Possible values are 00 - Fruit, Vegetables, Leather; 01 - Tapes, Pharma, Typewriters; 02 - Flowers, Glassware, Toys; 03 - Clothing, Personal Effects, Rubber; 04 - Carpets, DIP, Radios, Plants; 05 - Automobiles, speakers, birds; 06 - Spares, cosmetics, instruments; 07 - Books, fish, metal products; 08 - Engines, meat, printed materials; 09 - Bearings, paint, valuables; 10 - Liquids, gold.",
            "enum": [
              "00",
              "01",
              "02",
              "03",
              "04",
              "05",
              "06",
              "07",
              "08",
              "09",
              "10"
            ],
            "example": "00"
          },
          "chargeableWeight": {
            "$ref": "#/components/schemas/ChargeableWeight"
          },
          "slac": {
            "type": "integer",
            "format": "int32",
            "description": "In case of a shipper-built unit (BUP), the piece count of the AWB is not reflecting the effective number of pieces of the consignment. For customs purposes, the actual number of pieces must be entered in this field. e.g. Piece count in AWB = 1 (1 ULD), SLAC = 55.",
            "example": 12
          },
          "countOfUNNumbers": {
            "type": "integer",
            "format": "int32",
            "description": "To indicate the count of UN Numbers of a movement. The data can be used for invoicing purposes. If the other charges code RAC has to be calculated in the full air waybill data entry screen, the system will take this count of UN numbers to calculate the charges automatically.",
            "example": 2
          },
          "natureOfGoods": {
            "type": "string",
            "description": "Description of the nature of goods.",
            "example": "Live animal"
          },
          "adhocPrices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdhocPrice"
            }
          },
          "movementPriority": {
            "type": "string",
            "description": "Indicates a specific priority for carriage. The standard priority codes include - Consignment Under Bond (B), Express Parcel Shipment (E), Express Shipments (X), High Priority (H), Low Priority (L), Service Shipment (S). This field also supports nonstandard priority codes (two-character alpha numeric) defined in Cargospot.",
            "example": "99"
          },
          "dimensions": {
            "$ref": "#/components/schemas/DimensionsWithVolume"
          },
          "otherCustomsAndSecurityInformation": {
            "$ref": "#/components/schemas/OCIDetails"
          },
          "routing": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SegmentResource"
            }
          },
          "ULDs": {
            "description": "Specify the ULD information each line in the array corresponds to information about one specific ULD type with one or more units. Use this object only if the same set of ULDs are carried across all flights. Only specify the ULD information either at booking or segment level, not both. ULD information should be sent in the booking or segment level depending on the configuration with in the airline instance.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ULDDetail"
            }
          },
          "shipper": {
            "$ref": "#/components/schemas/Participant"
          },
          "emergencyContact": {
            "$ref": "#/components/schemas/EmergencyContactDetails"
          },
          "consignee": {
            "$ref": "#/components/schemas/Participant"
          },
          "specialHandlingCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecialHandlingCode"
            }
          },
          "excludeBookingRelease": {
            "type": "boolean",
            "description": "If true, the booking will retain its status and will be skipped for booking time limit releasing. This paramter will be available based on bookReleaseTime configuration in Cargospot.",
            "example": false
          },
          "productCode": {
            "type": "string",
            "description": "Product code that exists in cargospot. Product describes a service offering from an airline. It encapsulates various additional services that the airline will undertake while transporting the shipment.",
            "example": "Express"
          },
          "priceClassCode": {
            "type": "string",
            "description": "Price class code (rating specific parameter) that exists in cargospot.",
            "example": "GENPAX"
          },
          "handlingRemarks": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Handling remarks captured as part of booking creation or update.",
              "example": "PLEASE KEEP TEMPERATURE AS MENTIONED ON AWB"
            }
          },
          "specialServiceRequest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Remarks"
            }
          },
          "OSIRemarks": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Other serice information remarks captured as part of booking creation or update.",
              "example": "Other service Informations remarks."
            }
          },
          "otherServiceInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Remarks"
            }
          },
          "remarks": {
            "type": "string",
            "description": "Booking remarks. Maximum length is 512 characters.",
            "example": "Free text captured as remarks."
          },
          "iataNoteCode": {
            "type": "string",
            "description": "This parameter allows to specify that a particular IATA Note applies to the shipment. The note should be existing in Cargospot for the carrier. At this stage the application will not check if the note is applicable for the rate/class of the shipment nor whether it exists for the origin - destination pair of the shipment.",
            "example": "PR01"
          },
          "temperature": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemperatureDetails"
            }
          },
          "eAWB": {
            "type": "boolean",
            "description": "Indicates if the air waybill data capture is electronic and the processing of the air waybill will be done accordingly.",
            "example": false
          },
          "valueForCarriage": {
            "type": "number",
            "format": "float",
            "description": "The declared shipment value for carriage purposes. This parameter will only work with specific airline instances.",
            "example": 5000
          },
          "valueForCustoms": {
            "type": "number",
            "format": "float",
            "description": "The declared shipment value for Customs purposes.",
            "example": 1250000
          },
          "SPAAdhocIndicator": {
            "type": "boolean",
            "description": "Indicates if the air waybill have any SPA adhoc linked to it.",
            "example": false
          },
          "overSize": {
            "type": "boolean",
            "description": "To check whether the booking is oversized or not. False for not over sized. This parameter will only work with specific airline instances",
            "example": false
          },
          "mustFly": {
            "type": "boolean",
            "description": "To check whether the booking is J priority or not. False if the shipment is not must fly. This parameter will only work with specific airline instances.",
            "example": false
          },
          "deliveryCall": {
            "type": "boolean",
            "description": "User can request for a call back after the shipment is delivered. This parameter will only work with specific airline instances.",
            "example": false
          },
          "breakDown": {
            "type": "boolean",
            "description": "Indicates whether this booking can be broken down. False indicates that the shipment cannot be broken down. This parameter will only work with specific airline instances.",
            "example": false
          },
          "bookOnRemainingAllotmentSpace": {
            "type": "boolean",
            "description": "To check whether a new default booking is created or not. This parameter will only work with specific airline instances.",
            "example": false
          },
          "createdOn": {
            "type": "string",
            "format": "dateTime",
            "description": "UTC Date and time in ISO8601 format when the booking is created.",
            "example": "2020-06-25T14:30:00.000Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User info.",
            "example": "SYSTEM"
          },
          "modifiedOn": {
            "type": "string",
            "format": "dateTime",
            "description": "UTC Date and time in ISO8601 format when the booking is last modified.",
            "example": "2020-06-25T14:30:00.000Z"
          },
          "modifiedBy": {
            "type": "string",
            "description": "User info."
          },
          "warnings": {
            "type": "array",
            "description": "These are warning messages typically recieved by the user on submission of the booking to Cargospot. Only those warning messages linked to the last submission.",
            "items": {
              "$ref": "#/components/schemas/Warning"
            }
          },
          "_links": {
            "$ref": "#/components/schemas/BookingLinks"
          }
        }
      },
      "UpdatedDimensions": {
        "type": "object",
        "description": "This object should be used to send three types of data - 1/ data available in the GET (retrieve) request that is sent back in the PUT request as-is; 2/ data available in the GET request that needs to be modified; 3/ data that needs to be added. To send back data as is use the UpdatedMeasurements schema. To update a measurement use the UpdatedMeasurement schema. To add a new measurement use the Measurement schema. The sum of the weight across pieces provided in the dimension object should be equal to the air waybill & segment level weight. The computed volume based on the dimensions should match with the air waybill & segment level volume.Do note that Cargospot allows for two configurations related to how the weight in the dimension line is treated. 1/ The weight specified could be treated as weight per piece; so if you have a dimension line with 5 pieces and 100 kg, the weight of this dimension line would be 5*100 = 500 Kg. 2/ The weight specified could be treated as the weight of all pieces on the dimension line; so for the same example of a dimension line with 5 pieces and 100 Kg, the weight of this dimension line would 100 Kg. ",
        "properties": {
          "measurements": {
            "type": "array",
            "maxItems": 99,
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Measurements"
                },
                {
                  "$ref": "#/components/schemas/UpdatedMeasurements"
                }
              ]
            }
          },
          "unit": {
            "type": "string",
            "description": "Unit for length, width and height. CMT indicates centimeters; INH indicates inches.",
            "enum": [
              "CMT",
              "INH"
            ],
            "default": "CMT",
            "example": "CMT"
          }
        }
      },
      "UpdatedMeasurements": {
        "type": "object",
        "required": [
          "id",
          "pieces",
          "length",
          "width",
          "height"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique Cargospot internal ID for measurement.",
            "example": "31250"
          },
          "pieces": {
            "type": "integer",
            "format": "int32",
            "description": "Pieces",
            "example": 1
          },
          "weight": {
            "$ref": "#/components/schemas/Weight"
          },
          "length": {
            "type": "integer",
            "format": "int32",
            "description": "Length.",
            "example": 100
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "description": "Width.",
            "example": 80
          },
          "height": {
            "type": "integer",
            "format": "int32",
            "description": "Height.",
            "example": 60
          }
        }
      },
      "UpdatedOCI": {
        "type": "object",
        "properties": {
          "otherCustomsInformation": {
            "type": "array",
            "description": "This object should be used to send three types of data - 1/ data available in the GET (retrieve) request that is sent back in the PUT request as-is; 2/ data available in the GET request that needs to be modified; 3/ data that needs to be added. To send back data as is use the UpdatedCustomsAndSecurityInformation schema. To update retrieved data use the UpdatedCustomsAndSecurityInformation schema. To add new data use the CustomsAndSecurityInformation schema.",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CustomsAndSecurityInformation"
                },
                {
                  "$ref": "#/components/schemas/UpdatedCustomsAndSecurityInformation"
                }
              ]
            }
          },
          "securityDeclarations": {
            "type": "array",
            "description": "This object should be used to send three types of data - 1/ data available in the GET (retrieve) request that is sent back in the PUT request as-is; 2/ data available in the GET request that needs to be modified; 3/ data that needs to be added. To send back data as is use the UpdatedCustomsAndSecurityInformation schema. To update a measurement use the UpdatedCustomsAndSecurityInformation schema. To add a new measurement use the CustomsAndSecurityInformation schema.",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/CustomsAndSecurityInformation"
                },
                {
                  "$ref": "#/components/schemas/UpdatedCustomsAndSecurityInformation"
                }
              ]
            }
          }
        }
      },
      "UpdatedCustomsAndSecurityInformation": {
        "type": "object",
        "required": [
          "id",
          "countryCode informationIdentifier controlInformationCode",
          "supplementaryControlInformation"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique Cargospot internal ID for customs and security information.",
            "example": "31250"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code. One of country code, informationIdentifier or controlInformationCode is mandatory.",
            "example": "US"
          },
          "informationIdentifier": {
            "type": "string",
            "description": "OCI info ID that exists in Cargospot. This parameter allows 0 or 3 alpha characters. Examples: AGT, SSI, ABI. One of country code, informationIdentifier or controlInformationCode is mandatory.",
            "example": "SSI"
          },
          "controlInformationCode": {
            "type": "string",
            "description": "Customs code used for transmitting/receiving OCI data. This parameter allows 0, 1, 2 or 3 alpha characters. Examples - SCO, CB, F. One of country code, informationIdentifier or controlInformationCode is mandatory.",
            "example": "SPX"
          },
          "supplementaryControlInformation": {
            "type": "string",
            "description": "This parameter allow alpha-numeric characters, and a dash ( - ) and a dot ( . ) characters, with a maximum of 35 characters free text.",
            "example": "Note for US - customs."
          }
        }
      },
      "UpdatedSegment": {
        "type": "object",
        "required": [
          "id",
          "originAirportCode",
          "destinationAirportCode",
          "transportMeans",
          "spaceAllocationCode",
          "pieces",
          "weight"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique Cargospot internal ID for segment",
            "example": "31280"
          },
          "originAirportCode": {
            "type": "string",
            "description": "Segment origin of this resource. Location at which cargo is loaded to this booking segment.",
            "example": "SIN"
          },
          "destinationAirportCode": {
            "type": "string",
            "description": "Segment destination of this resource. Location at which cargo is offloaded from this booking segment.",
            "example": "JFK"
          },
          "transportMeans": {
            "$ref": "#/components/schemas/TransportMeansResource"
          },
          "spaceAllocationCode": {
            "type": "string",
            "enum": [
              "CA",
              "HK",
              "HL",
              "HN",
              "KK",
              "LL",
              "NA",
              "NL",
              "NN",
              "SS",
              "UN",
              "UU",
              "QU",
              "KL",
              "KC",
              "LA",
              "XX"
            ],
            "description": "Space allocation codes used for booking. Possible values are CA - Space allocation against allotment, HK - Holding confirmed, HL - Holding Wait List, HN - Have requested space allocation, KK - Space Confirmed, LL - Wait list, NA - Requesting space allocation; if not available will accept alternative, NL - Requesting space allocation; for wait list, NN - Requesting space allocation; will not accept alternative, SS - Reporting Sale, UN - No confirmation, UU - Unable to confirm space, QU - Unable to confirm queue to FCTL, KL - Wait list confirmed, KC - Wait list confirmed, LA - Stand by virtual pending confirm, XX - Cancel previous space allocation.",
            "example": "NN"
          },
          "allotmentCode": {
            "type": "string",
            "description": "Typically used to specify the allotment code if the space allocation code is CA.",
            "example": "CSPALLOT81"
[...]
